body {
  position: relative;
  direction: ltr;
  background-color: #eee !important;
}
.aside {
  background-color: #fff;
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #dddddd33;
  z-index: 999;
}
.user-dropdown {
  margin-left: auto;
}
@media (min-width: 992px) {
  .content,
  .nav-date {
    margin-left: 20vw;
  }
}
